
  <div class="row">
    <div class="col-md-12">
      <h1 class="titleything">Tournaments</h1>
            
            <% @tournaments.each do |tournament| %>
             <h3> <%= link_to tournament.name, tournament_path(tournament.slug) %> </h3>
            <% end %>
            
          <br>
          <% if current_user %>
            <strong><%= link_to 'New Tournament', new_tournament_path %></strong>
          <% end %>
    </div>
  </div>



