.player_list_overflow {
  overflow:auto;
}

.table_number {
  text-align: center;
  width: 80px;
}

.formatted_table {
  table-layout: fixed;
  text-align: center;
}

.centerizer {
  text-align: center;
}

.results-col {
  text-align: center;
  width: 180px;
}

.colorize-list{
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
}

#standings_style {
  text-align: center;
  /*background-color: grey;*/
  /*color: white;*/
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#player_sidebar {
  text-align: left;
}

.titleything {
  border-bottom: 1px solid black;
}