.player_list_overflow {
  overflow:auto;
}

#standings_style {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#player_sidebar {
  text-align: left;
}

.titleything {
  border-bottom: 1px solid black;
}